.header {
    width: 100%;
    background-color: var(--white);
}

.header__layuot {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-link {
    display: block;
    text-decoration: none;
}



.header__title {
    width: 100%;
    font-family: Inter;
    font-weight: normal;
    font-style: normal;
    font-size: 1.75rem;
    margin: 0;
    padding: 3rem 0 4.3125rem;;
}

@media screen and (min-width: 768px) {
    .header__layuot {
        padding-top: 1.5625rem;
    }

    .header__container {
        justify-content: space-between;
    }

    .header__title {
        font-weight: 500;
        /* 50px */
        font-size: 3.125rem;
        padding: 2.5rem 0 4.8125rem;
    }
}