.header {
    width: 100%;
    background-color: #fff;
}

.header_layout {
    display: flex;
    flex-direction: column;
}

.header__inner-wrap_layuot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0;
}

.header__logo_layout {
    display: flex;
}

.header__logo-link {
    text-decoration: none;
}



.header__title {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    font-size: 3.125em;
    margin: 0;
}

.header__title_layout {
    padding: 40px 0 77px;
}