.calendar_size {
    max-width: 131px;
    width: 131px;
    min-width: 75px;
}

.calendar__inner {
    position: relative;
    width: 100%;
}

.calendar__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: var(--calendar-txt-clr);
    text-align: center;
}

.calendar__body {
    position: relative;
    padding-bottom: 100%;
}

.calendar__body-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 20px;
    color: var(--calendar-txt-clr);
}

.calendar__item_day {
    align-items: flex-start;
}

.calendar__item_active {
    color: var(--white);
    background: var(--calendar-active-day);
}

.calendar__item_between-active {
    background: var(--calendar-between-active-clr);
    opacity: 0.2;
}

@media screen and (min-width: 768px) {
    .calendar_size {
        max-width: 171px;
        width: 171px;
    }

    .calendar__inner {
        border: 1px solid var(--grey-3);
        border-radius: 8px;
        padding: 7%;
    }

    .calendar__header {
        font-size: 1rem;
        margin-bottom: 5%;
    }
}