/* Стилизация кнопки */
@import '.../assets/css/normalise.css';

/* Layout styles */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    width: 100%;
    max-width: 700px;
    min-width: 375px;
}

.default {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.disabled {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

/* button component */

.button {
    width: 189px;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    padding: 15px 0 14px;
    border: none;
}

/* default */

.button_primary,
.button_primary:active,
.button_primary:focus {
    color: var(--white);
    background-color: var(--primary);
}

.button_secondary,
.button_secondary:active,
.button_secondary:focus {
    color: var(--white);
    background-color: var(--secondary);
}

.button_alternate,
.button_alternate:active,
.button_alternate:focus {
    color: var(--grey-3);
    background-color: var(--white);
    border: 1px solid var(--grey-3);
}

/* hover */

.button:hover:not(.button[disabled]) {
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary:hover:not(.button[disabled]) {
    background-color: #2342C0;
}

.button_secondary:hover:not(.button[disabled]) {
    background-color: #5028C6;
}

.button_alternate:hover:not(.button[disabled]) {
    color: #212429;
    border: 1px solid #212429;
}

/* disabled */

.button[disabled] {
    opacity: 0.5;
    cursor: default;
}