.card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid var(--grey-3);
}

.card__body_sm {
    padding: 10px 16px 0;
}

.card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.card__footer_sm {
    padding: 0 16px 10px;
}

.card__title {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    /* 16px */
    font-size: 1rem;
    /* 24px */
    line-height: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__paragraph_sm {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.375rem;
    line-height: 19px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .card {
        /* 32px */
        padding: 2rem;
    }
    
    .card__body {
        border-bottom: none;
    }

    .card__body_sm,
    .card__footer_sm {
        padding: 0;
    }
    
    .card__title {
        /* 21px */
        font-size: 1.3125rem;
        ;
    }

    .card__paragraph_sm {
        /* 16px */
        font-size: 1rem;
    }

    .card__footer {
        margin-top: 1.5rem;
    }
}