.card-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    grid-gap: 16px;
    margin: 1.5rem 0;
}