.main {
    padding: 11px 0;
    background-color: var(--bgColor-mainSection);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

@media screen and (min-width: 768px) {
    .main {
        padding: 34px 0;
    }
}