@import '../fonts/fonts.css';
@import './normalise.css';
@import './reset.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --font-color: var(--black);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --text-secondary: var(--grey-3);
    
    --primary-hover: #2342C0;
    --secondary-hover: #5028C6;
    --alternate-hover: #212429;

    --menu-hover-color: #212429;
    --bgColor-mainSection: #F9FAFC;

    --calendar-txt-clr: #334D6E;
    --calendar-weekdays-clr: #90A0B7;
    --calendar-active-day: #4263EB;
    --calendar-between-active-clr: #A0B1F5;

    --avatar-sm-width: 64px;
    --avatar-sm-height: 64px;

    --avatar-md-width: 102px;
    --avatar-md-height: 102px;

    --avatar-lrg-width: 128px;
    --avatar-lrg-height: 128px;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}