.skeleton {
    width: 100%;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
}

.skeleton__field {
    width: 100%;
    height: 20px;
    margin: 8px 0;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__wrapper {
    display: flex;
}

.skeleton__field-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 24px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);}

.skeleton__inner-wrapper {
    width: 100%;
}

.skeleton__field_width-1 {
    width: 37.63%;
}

.skeleton__field_width-2 {
    width: 52.23%;
}

.skeleton__field_width-3 {
    width: 97.35%;
}

.skeleton__field_width-4 {
    width: 89.79%;
}