.footer_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 2.375em;
    line-height: 3em;
}

.footer_title_layout {
    padding: 70px 0 32px;
}

.footer__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
}

.footer__text_layout {
    width: 57.5%;
    padding: 0 0 136px;
    margin: 0;
}