.histogram {
    width: 100%;
    background: var(--white);

}

.histogram_size {
    padding: 35px 0;
}

.histogram__inner {
    border: 1px solid var(--grey-3);
    border-radius: 3px;
    padding: 6px;
}

.histogram__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2px;
}

.histogram__left-container {
    display: flex;
    flex-direction: column;
}

.histogram__header {
    margin-bottom: 6px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 10px;
    white-space: nowrap;
    color: var(--black);
}

.histogram__total {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--black);
}

.histogram__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 24px;
    white-space: nowrap;
    text-align: right;
    text-decoration: none;
    padding-top: 3px;
    color: var(--blue);
}

.histogram__bars {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    height: 30px;
}

.histogram__bar {
    flex: 1 0 auto;
    min-width: 1px;
    margin-right: 1px;
    background: var(--primary);
}

.histogram__bar:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .histogram_size {
        padding: 0;
    }
    
    .histogram__inner {
        border-radius: 8px;
        padding: 16px 24px 24px 24px;
    }

    .histogram__container {
        margin-bottom: 10%;
    }

    .histogram__header {
        /* 12px */
        font-size: 12px;
        line-height: 24px;
    }

    .histogram__total {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 39px;
    }

    .histogram__link {
        font-size: 12px;
    }

    .histogram__bars {
        height: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .histogram__header {
        font-size: 24px;
    }

    .histogram__link {
        font-size: 16px;
    }
}