.menu__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0 1.875em;;
    list-style: none;
}

.menu__item {
    padding: 0 12px;
}

.menu__item-link {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 2em;
    text-decoration: none;
    color: var(--grey-3);
}

.menu__item-link:hover {
    color: var(--menu-hover-color);
}